.NavigationItems {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}

@media (min-width: 500px) {
  .NavigationItems {
    flex-direction: row;
    align-items: center;
    height: 100%;
  }
}
